In [116]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from datetime import date
from datetime import datetime, timedelta
import holidays

In [117]:
df = pd.read_excel('Data_Train.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [118]:
df.dropna(inplace=True) #only one NAN value, therefore dropping it
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 11 columns):
Airline            10682 non-null object
Date_of_Journey    10682 non-null object
Source             10682 non-null object
Destination        10682 non-null object
Route              10682 non-null object
Dep_Time           10682 non-null object
Arrival_Time       10682 non-null object
Duration           10682 non-null object
Total_Stops        10682 non-null object
Additional_Info    10682 non-null object
Price              10682 non-null int64
dtypes: int64(1), object(10)
memory usage: 1001.4+ KB

# Data cleaning

Data Cleaning(part 1) :
1. Removing date from arrival time.
2. Converting duration into minutes.
3. Making a new column for 
<ul>
    <li>month of journey
    <li>date of journey
    <li>day of week - 0 -> monday, 1 -> tuesday ....

In [119]:
df = df.apply(lambda x: x.astype(str).str.upper())
df['Price'] = df['Price'].astype(int)
df.loc[df['Source']=='DELHI','Source'] = 'NEW DELHI'
df.loc[df['Destination']=='DELHI','Destination'] = 'NEW DELHI'
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,INDIGO,24/03/2019,BANGLORE,NEW DELHI,BLR → DEL,22:20,01:10 22 MAR,2H 50M,NON-STOP,NO INFO,3897
1,AIR INDIA,1/05/2019,KOLKATA,BANGLORE,CCU → IXR → BBI → BLR,05:50,13:15,7H 25M,2 STOPS,NO INFO,7662
2,JET AIRWAYS,9/06/2019,NEW DELHI,COCHIN,DEL → LKO → BOM → COK,09:25,04:25 10 JUN,19H,2 STOPS,NO INFO,13882
3,INDIGO,12/05/2019,KOLKATA,BANGLORE,CCU → NAG → BLR,18:05,23:30,5H 25M,1 STOP,NO INFO,6218
4,INDIGO,01/03/2019,BANGLORE,NEW DELHI,BLR → NAG → DEL,16:50,21:35,4H 45M,1 STOP,NO INFO,13302

In [120]:
df['Arrival_Time'] = df['Arrival_Time'].apply(lambda x: re.sub('\s\d\d\s\w+','',x))

df['Duration'] = pd.to_timedelta(df['Duration'])
df['Duration'] =df['Duration'].dt.total_seconds().div(60).astype(int)

df['Date_of_Journey'] = pd.to_datetime(df['Date_of_Journey'])
df['Month'] = df['Date_of_Journey'].dt.month
df['Date'] = df['Date_of_Journey'].dt.day
df['Day_of_week'] = df['Date_of_Journey'].dt.dayofweek
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Date,Day_of_week
0,INDIGO,2019-03-24,BANGLORE,NEW DELHI,BLR → DEL,22:20,01:10,170,NON-STOP,NO INFO,3897,3,24,6
1,AIR INDIA,2019-01-05,KOLKATA,BANGLORE,CCU → IXR → BBI → BLR,05:50,13:15,445,2 STOPS,NO INFO,7662,1,5,5
2,JET AIRWAYS,2019-09-06,NEW DELHI,COCHIN,DEL → LKO → BOM → COK,09:25,04:25,1140,2 STOPS,NO INFO,13882,9,6,4
3,INDIGO,2019-12-05,KOLKATA,BANGLORE,CCU → NAG → BLR,18:05,23:30,325,1 STOP,NO INFO,6218,12,5,3
4,INDIGO,2019-01-03,BANGLORE,NEW DELHI,BLR → NAG → DEL,16:50,21:35,285,1 STOP,NO INFO,13302,1,3,3

In [121]:
df['Additional_Info'].unique()

array(['NO INFO', 'IN-FLIGHT MEAL NOT INCLUDED',
       'NO CHECK-IN BAGGAGE INCLUDED', '1 SHORT LAYOVER',
       '1 LONG LAYOVER', 'CHANGE AIRPORTS', 'BUSINESS CLASS',
       'RED-EYE FLIGHT', '2 LONG LAYOVER'], dtype=object)

# Indian holidays of 2019 - 
<b>2019-01-01 New Year</b><br />
<b>2019-01-14 Makar Sankranti / Pongal</b><br />
<b>2019-01-26 Republic Day</b><br />
<b>2019-05-01 Labour Day</b><br />
<b>2019-08-15 Independence Day</b><br />
<b>2019-10-02 Gandhi Jayanti</b><br />
<b>2019-12-25 Christmas</b><br />

<p><font color="blue"> Here I have imported holidays library and make a list of national holidays - Datetime celebrated in India.<\font></p>

In [122]:
# holidays_list = list(sorted(holidays.IND(years=2019).keys()))
# print(holidays_list)

#### making another list (holidays_list_2_before_after) containing dates of 1&2 days before and after a major holiday
<p><font color="blue"> Adding another column 'Isholiday' which contains value 1 if date is present in 'holidays_list_2_before_after' otherwise 0.</p>

In [123]:
# holidays_list_2_before_after = []
# for i in holidays_list:
#     holidays_list_2_before_after.append(i-timedelta(days=1))
#     holidays_list_2_before_after.append(i-timedelta(days=2))
#     holidays_list_2_before_after.append(i+timedelta(days=1))
#     holidays_list_2_before_after.append(i+timedelta(days=2))
# df['IsHoliday'] = [1 if x in holidays_list_2_before_after else 0 for x in df['Date_of_Journey']]
# print(holidays_list)

#### Dropping 'Date_of_Journey' & 'Route' columns.

In [124]:
df = df.drop(['Date_of_Journey','Route'],axis=1)
df.head()

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Date,Day_of_week
0,INDIGO,BANGLORE,NEW DELHI,22:20,01:10,170,NON-STOP,NO INFO,3897,3,24,6
1,AIR INDIA,KOLKATA,BANGLORE,05:50,13:15,445,2 STOPS,NO INFO,7662,1,5,5
2,JET AIRWAYS,NEW DELHI,COCHIN,09:25,04:25,1140,2 STOPS,NO INFO,13882,9,6,4
3,INDIGO,KOLKATA,BANGLORE,18:05,23:30,325,1 STOP,NO INFO,6218,12,5,3
4,INDIGO,BANGLORE,NEW DELHI,16:50,21:35,285,1 STOP,NO INFO,13302,1,3,3

#### data cleaning for 'Total_Stops' columns (converting categorcial data to numerical data)
<p><font color="blue"> df['Total_Stops'].unique() = non-stop, 2 stops, 1 stop, 3 stops, 4 stops </p>

In [125]:
# def cleaning_stops(x):
#     stop_convert = {'non-stop':0,'2 stops':2,'1 stop':1,'3 stops':3,'4 stops':4}
#     return stop_convert[x]
# df['Total_Stops'] = df['Total_Stops'].apply(lambda x: cleaning_stops(x))
# df.head()

#### data cleaning for 'Additional_Info' columns (converting categorcial data to numerical data).
<p><font color="blue">
df['Additional_Info'].unique()
<ul>
    <li>'No info'
    <li>'In-flight meal not included'
    <li>'No check-in baggage included'
    <li>'1 Short layover'
    <li>'No Info'
    <li>'1 Long layover'
    <li>'Change airports'
    <li>'Business class'
    <li>'Red-eye flight'
    <li>'2 Long layover'
</ul>
</p>

In [126]:
# def cleaning_info(x):
#     info_convert = {'NO INFO':0, 'IN-FLIGHT MEAL NOT INCLUDED':1,'NO CHECK-IN BAGGAGE INCLUDED':2, 
#                     '1 SHORT LAYOVER':3,'1 LONG LAYOVER':4, 'CHANGE AIRPORTS':5, 
#                     'BUSINESS CLASS':6,'RED-EYE FLIGHT':7, '2 LONG LAYOVER':8}
#     return info_convert[x]
# df['Additional_Info'] = df['Additional_Info'].apply(lambda x: cleaning_info(x))
# df.head()

In [127]:
# print(df['Airline'].unique(),end='\n')
# print(df['Source'].unique(),end='\n')
# print(df['Destination'].unique(),end='\n')

#### data cleaning for 'Airline','Source','Destination' columns (converting categorcial data to numerical data).
Airlines -> ['IndiGo' 'Air India' 'Jet Airways' 'SpiceJet' 'Multiple carriers' 'GoAir','Vistara' 'Air Asia' 'Vistara Premium economy' 'Jet Airways Business''Multiple carriers Premium economy' 'Trujet']
<br />
<br />
Source -> ['Banglore' 'Kolkata' 'Delhi' 'Chennai' 'Mumbai']
<br />
<br />
Destination -> ['New Delhi' 'Banglore' 'Cochin' 'Kolkata' 'Delhi' 'Hyderabad']

In [128]:
# def cleaning_airline(x):
#     airline_dict = {'IndiGo':0,'Air India':1, 'Jet Airways':2, 'SpiceJet':3, 'Multiple carriers':4, 'GoAir':5,
#      'Vistara':6, 'Air Asia':7, 'Vistara Premium economy':8, 'Jet Airways Business':9,
#      'Multiple carriers Premium economy':10, 'Trujet':11}
#     return airline_dict[x]

# def cleaning_places(x):
#     place_dict = {'Banglore':0, 'Kolkata':1, 'New Delhi':2,'Delhi':2, 'Chennai':3, 'Mumbai':4,'Cochin':5,'Hyderabad':6}
#     return place_dict[x]

# df['Airline'] = df['Airline'].apply(lambda x: cleaning_airline(x))
# df['Source'] = df['Source'].apply(lambda x: cleaning_places(x))
# df['Destination'] = df['Destination'].apply(lambda x: cleaning_places(x))

In [129]:
X = df[['Airline','Source','Destination','Dep_Time','Arrival_Time','Duration','Total_Stops','Additional_Info','Month','Date','Day_of_week']]
Y = df[['Price']]

In [131]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder = LabelEncoder()
X[:,0] = labelencoder.fit_transform(X[:,0,1,2,6,7,8,10]])
onehotencoder = OneHotEncoder([0,1,2,6,7,8,10])
X = onehotencoder.fit_transform(X).toarray()
X

TypeError: unhashable type: 'slice'

In [ ]:
# df['Dep_Time'] = pd.to_datetime(df['Dep_Time'],format= '%H:%M' ).dt.time
# df['Dept_new']=-1

# df.loc[(df['Dep_Time']>'04:00')&(df['Dep_Time']<='08:00'),'Dept_new']=0 #early morning
# df.loc[(df['Dep_Time']>'08:00')&(df['Dep_Time']<='12:00'),'Dept_new']=1 #morning
# df.loc[(df['Dep_Time']>'12:00')&(df['Dep_Time']<='18:00'),'Dept_new']=2 #afternoon
# df.loc[(df['Dep_Time']>'18:00')&(df['Dep_Time']<='21:00'),'Dept_new']=3 # early evening
# df.loc[(df['Dep_Time']>'21:00')&(df['Dep_Time']<='00:00'),'Dept_new']=4 # night
# df.loc[(df['Dep_Time']>'00:00')&(df['Dep_Time']<='04:00'),'Dept_new']=5 # late night

# #----------------------------------------------------------------
# df['Arrival_new']=-1
# df.loc[(df['Arrival_Time']>'04:00')&(df['Arrival_Time']<='08:00'),'Arrival_new']=0 #early morning
# df.loc[(df['Arrival_Time']>'08:00')&(df['Arrival_Time']<='12:00'),'Arrival_new']=1 #morning
# df.loc[(df['Arrival_Time']>'12:00')&(df['Arrival_Time']<='18:00'),'Arrival_new']=2 #afternoon
# df.loc[(df['Arrival_Time']>'18:00')&(df['Arrival_Time']<='21:00'),'Arrival_new']=3 # early evening
# df.loc[(df['Arrival_Time']>'21:00')&(df['Arrival_Time']<='24:00'),'Arrival_new']=4 # night
# df.loc[(df['Arrival_Time']>'24:00')&(df['Arrival_Time']<='04:00'),'Arrival_new']=5 # late night

# df[df['Dept_new']==-1]

In [ ]:
new_df = df.drop(['Dep_Time','Arrival_Time'],axis=1)
new_df.head(3)

In [ ]:
sns.jointplot(x='Price',y='Airline',data=new_df)
# seaborn. scatterplot (x=None, y=None, hue=None, style=None, size=None, data=None,

In [ ]:
# ,'Destination' ,'Duration', 'Month' ,'IsHoliday'
x = new_df.drop(['Price'],axis=1)
y = new_df['Price']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.3,random_state=11)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
q = model.fit(x_train,y_train)

In [ ]:
predictions = q.predict(x_test)

In [ ]:
q.coef_
coeff_df = pd.DataFrame(q.coef_,x.columns,columns=['Coeff'])
coeff_df

In [ ]:
# from sklearn.metrics.mean_squared_error import 
import math
from sklearn.metrics import mean_squared_error
print('MSE-> ',mean_squared_error(y_test,predictions))
print('RMSE-> ',math.sqrt(mean_squared_error(y_test,predictions)))

In [ ]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test,predictions)
print('r2_score-> ',r2)

In [ ]:
print('Accuracy ->',(1-r2)*100)

In [ ]:
fig = plt.figure()

plt.scatter(predictions,y_test,lw=.5,color='red',edgecolors='black')

In [ ]:
sns.distplot(y_test-predictions)

In [ ]:
df['Month'].unique()